<h1>sign up here</h1>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="text" name="email" placeholder="email">
	<input type="date" name="dob" placeholder="dob">
	<input type="password" name="age" placeholder="age">
	<button>register</button>
</form>
<h1>This is home page</h1>
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
